@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron bg-info border-info text-center">
    <h1 class="display-4 font-weight-bold ">Paginas Web Activas</h1><br />
    <h1 class="display-4">Prueba1</h1>
</div>
<!-- /.content -->
@section Scripts
{
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
}